#footer p 
	{
	filter:alpha(opacity=65);
	-moz-opacity:.65;
	}

#day-prev, #day-next
	{
	filter:alpha(opacity=25);
	-moz-opacity:.25;	
	}



/*ie8 doesn't support background-size, so use non-retina images */

#main 
	{
	background-image: url(images/main/background.png);
	}

#main .container 
	{
	background-image: url(images/main/masthead.png);
	}

#main-bg-burst 
	{
	background-image: url(images/main/burst.gif);
	}

#footer .container 
	{
 	background-image:  url(images/footer/background.gif);
	}

#search-submit 
	{
	background: url(images/footer/submit.gif);
	}	

#search-submit-noresults
	{
	background: url(images/footer/submit-noresults.gif);
	}

#ship
	{
	background-image: url(images/footer/ship.png);
	}	

#journal-photo-container 
	{
	background-image: url(images/subnav/bg.png);
	}

#noteworthy-container 
	{
	background-image: url(images/subnav/bg.png);
	}

#journal-photo 
	{
	background-image: url(images/subnav/journal-photo-bg.png);
	}

#noteworthy 
	{
	background-image: url(images/subnav/noteworthy-bg.png);
	}	

#particularly-noteworthy-content li
	{
	background-image: url(images/subnav/noteworthy-bullet.png);
	}

#noteworthy-footer 
	{
	background-image: url(images/subnav/noteworthy-footer.png);
	}

#map
	{
	background-image: url(images/map/map.png);
	}

#map-close
	{
	background-image: url(images/map/map-close.png);
	}	

#map-canvas
	{
	background-image: url(images/map/loader.gif);
	}	

.day-number
	{
	background-image: url(images/content/day-bg.png);
	}	
	
#next
	{
	background: url(images/content/next-bg.png);
	}

#next-blank
	{
	background: url(images/content/next-bg-blank.png);
	}

#previous
	{
	background: url(images/content/previous-bg.png);
	}

#previous-blank
	{
	background: url(images/content/previous-bg-blank.png);
	}









/* ---------------------------------------------------------- # NAV  */

	.nav 
	{
	/*background-image: url(images/nav/nav.png);*/
	background-image: url(images/nav/nav-nopress.png);
	}
	
/* --------------------- # HOME  */

.nav .home a:hover, .nav .home a:focus 
	{
	/*background: url(images/nav/nav.png) no-repeat 0px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat 0px -36px;
    }
.nav .home a:active
	{
	/*background: url(images/nav/nav.png) no-repeat 0px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat 0px -36px;
    }
.current-home .home a:link, .current-home .home a:visited {
	/*background: url(images/nav/nav.png) no-repeat 0px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat 0px -36px;
	}  
.nav-home, .nav-home-click 
	{
	/*background: url(images/nav/nav.png) no-repeat 0px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat 0px -36px;
	}
.nav-home-click 
	{
	/*background: url(images/nav/nav.png) no-repeat 0px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat 0px -36px;
	}
 	  
 
/* --------------------- # ABOUT  */

.nav .about a:hover, .nav .about a:focus 
	{
	/*background: url(images/nav/nav.png) no-repeat -69px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -69px -36px;
    }
.nav .about a:active
	{
	/*background: url(images/nav/nav.png) no-repeat -69px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -69px -36px;
    }
.current-about .about a:link, .current-about .about a:visited {
	/*background: url(images/nav/nav.png) no-repeat -69px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -69px -36px;
	}    
.nav-about, .nav-about-click 
	{
	/*background: url(images/nav/nav.png) no-repeat -69px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -69px -36px;
	}
.nav-about-click 
	{
	/*background: url(images/nav/nav.png) no-repeat -69px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -69px -36px;
	}	
    
/* --------------------- # FAQ  */

.nav .faq a:hover, .nav .faq a:focus 
	{
	/*background: url(images/nav/nav.png) no-repeat -158px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -158px -36px;
    }
.nav .faq a:active
	{
	/*background: url(images/nav/nav.png) no-repeat -158px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -158px -36px;
    }
.current-faq .faq a:link, .current-faq .faq a:visited {
	/*background: url(images/nav/nav.png) no-repeat -158px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -158px -36px;
	}     
.nav-faq, .nav-faq-click 
	{
	/*background: url(images/nav/nav.png) no-repeat -158px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -158px -36px;
	}
.nav-faq-click 
	{
	/*background: url(images/nav/nav.png) no-repeat -158px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -158px -36px;
	}	

    
/* --------------------- # PRESS  */

/*.nav .press a:hover, .nav .press a:focus 
	{
	background: url(images/nav/nav.png) no-repeat -230px -36px;
    }
.nav .press a:active
	{
	background: url(images/nav/nav.png) no-repeat -230px -36px;
    }
.current-press .press a:link, .current-press .press a:visited {
	background: url(images/nav/nav.png) no-repeat -230px -36px;
	}         
.nav-press, .nav-press-click 
	{
	background: url(images/nav/nav.png) no-repeat -230px -36px;
	}
.nav-press-click 
	{
	background: url(images/nav/nav.png) no-repeat -230px -36px;
	}	*/

/* --------------------- # MAP  */

.nav .map a:hover, .nav .map a:focus 
	{
	/*background: url(images/nav/nav.png) no-repeat -316px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -230px -36px;
    }
.nav .map a:active
	{
	/*background: url(images/nav/nav.png) no-repeat -316px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -230px -36px;
    }
.current-map .map a:link, .current-map .map a:visited {
	/*background: url(images/nav/nav.png) no-repeat -316px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -230px -36px;
	}         
.nav-map, .nav-map-click 
	{
	/*background: url(images/nav/nav.png) no-repeat -316px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -230px -36px;
	}
.nav-map-click 
	{
	/*background: url(images/nav/nav.png) no-repeat -316px -36px;*/
	background: url(images/nav/nav-nopress.png) no-repeat -230px -36px;
	}	




/* ---------------------------------------------------------- # PARTICULARLY NOTEWORTHY  */

	.partNoteOpt 
	{
	background-image: url(images/subnav/noteworthy-options.png);
	}
	
/* --------------------- # OUR FAVORITES  */

.partNoteOpt .ourFavorites a:hover, .partNoteOpt .ourFavorites a:focus 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat 0px -18px;
    }
.partNoteOpt .ourFavorites a:active
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat 0px -18px;
    }
.current-ourFavorites .ourFavorites a:link, .current-ourFavorites .ourFavorites a:visited 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat 0px -18px;
	}  
.partNoteOpt-ourFavorites, .partNoteOpt-ourFavorites-click 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat 0px -18px;
	}
.partNoteOpt-ourFavorites-click 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat 0px -18px;
	}
	
/* --------------------- # MOST VIEWS  */

.partNoteOpt .mostViews a:hover, .partNoteOpt .mostViews a:focus 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat -84px -18px;
   }
.partNoteOpt .mostViews a:active
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat -84px -18px;
    }
.current-mostViews .mostViews a:link, .current-mostViews .mostViews a:visited 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat -84px -18px;
	}  
.partNoteOpt-mostViews, .partNoteOpt-mostViews-click 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat -84px -18px;
	}
.partNoteOpt-mostViews-click 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat -84px -18px;
	}
	
/* --------------------- # MOST COMMENTS  */

.partNoteOpt .mostComments a:hover, .partNoteOpt .mostComments a:focus 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat -160px -18px;
   }
.partNoteOpt .mostComments a:active
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat -160px -18px;
   }
.current-mostComments .mostComments a:link, .current-mostComments .mostComments a:visited 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat -160px -18px;
	}  
.partNoteOpt-mostComments, .partNoteOpt-mostComments-click 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat -160px -18px;
	}
.partNoteOpt-mostComments-click 
	{
	background: url(images/subnav/noteworthy-options.png) no-repeat -160px -18px;
	}
		


/* ---------------------------------------------------------- # FONT-SIZE  */

.font 
	{
	background-image: url(images/content/font-size.png);
	}
	
/* --------------------- # SMALLER  */

.font .smaller a:hover, .font .smaller a:focus 
	{
	background: url(images/content/font-size.png) no-repeat 0px -18px;
    }
.font .smaller a:active
	{
	background: url(images/content/font-size.png) no-repeat 0px -18px;
    }
.current-smaller .smaller a:link, .current-smaller .smaller a:visited {
	background: url(images/content/font-size.png) no-repeat 0px -18px;
	}  
.font-smaller, .font-smaller-click 
	{
	background: url(images/content/font-size.png) no-repeat 0px -18px;
	}
.font-smaller-click 
	{
	background: url(images/content/font-size.png) no-repeat 0px -18px;
	}
	
/* --------------------- # NORMAL  */

.font .normal a:hover, .font .normal a:focus 
	{
	background: url(images/content/font-size.png) no-repeat -14px -18px;
    }
.font .normal a:active
	{
	background: url(images/content/font-size.png) no-repeat -14px -18px;
    }
.current-normal .normal a:link, .current-normal .normal a:visited {
	background: url(images/content/font-size.png) no-repeat -14px -18px;
	}  
.font-normal, .font-normal-click 
	{
	background: url(images/content/font-size.png) no-repeat -14px -18px;
	}
.font-normal-click 
	{
	background: url(images/content/font-size.png) no-repeat -14px -18px;
	}
	
/* --------------------- # BIGGER  */

.font .bigger a:hover, .font .bigger a:focus 
	{
	background: url(images/content/font-size.png) no-repeat -33px -18px;
    }
.font .bigger a:active
	{
	background: url(images/content/font-size.png) no-repeat -33px -18px;
    }
.current-bigger .bigger a:link, .current-bigger .bigger a:visited {
	background: url(images/content/font-size.png) no-repeat -33px -18px;
	}  
.font-bigger, .font-bigger-click 
	{
	background: url(images/content/font-size.png) no-repeat -33px -18px;
	}
.font-bigger-click 
	{
	background: url(images/content/font-size.png) no-repeat -33px -18px;
	}
	
 	 








#emily-photo-01
	{
	background: url(images/content/about/emily-01.png) no-repeat;
	}
	
#emily-photo-02
	{
	background: url(images/content/about/emily-02.png) no-repeat;
	}
	
#emily-photo-03
	{
	background: url(images/content/about/emily-03.png) no-repeat;
	}
	
#emily-photo-04
	{
	background: url(images/content/about/emily-04.png) no-repeat;
	}
	
#emily-photo-05
	{
	background: url(images/content/about/emily-05.png) no-repeat;
	}
	
#emily-photo-06
	{
	background: url(images/content/about/emily-06.png) no-repeat;
	}

#emily-photo-07
	{
	background: url(images/content/about/emily-07.png) no-repeat;
	}

#emily-photo-08
	{
	background: url(images/content/about/emily-08.png) no-repeat;
	}

#emily-photo-09
	{
	background: url(images/content/about/emily-09.png) no-repeat;
	}

#emily-photo-10
	{
	background: url(images/content/about/emily-10.png) no-repeat;
	}

#emily-photo-11
	{
	background: url(images/content/about/emily-11.png) no-repeat;
	}
	
#emily-photo-12
	{
	background: url(images/content/about/emily-12.png) no-repeat;
	}
	
#emily-photo-13
	{
	background: url(images/content/about/emily-13.png) no-repeat;
	}

#emily-photo-14
	{
	background: url(images/content/about/emily-14.png) no-repeat;
	}

#emily-photo-15
	{
	background: url(images/content/about/emily-15.png) no-repeat;
	}

#emily-photo-16
	{
	background: url(images/content/about/emily-16.png) no-repeat;
	}

#emily-photo-17
	{
	background: url(images/content/about/emily-17.png) no-repeat;
	}

#emily-photo-18
	{
	background: url(images/content/about/emily-18.png) no-repeat;
	}
	
#emily-photo-19
	{
	background: url(images/content/about/emily-19.png) no-repeat;
	}
	
#emily-photo-20
	{
	background: url(images/content/about/emily-20.png) no-repeat;
	}
	
#emily-photo-21
	{
	background: url(images/content/about/emily-21.png) no-repeat;
	}
	
#emily-photo-22
	{
	background: url(images/content/about/emily-22.png) no-repeat;
	}
	
#emily-photo-23
	{
	background: url(images/content/about/emily-23.png) no-repeat;
	}




#michael-photo-01
	{
	background: url(images/content/about/michael-01.png) no-repeat;
	}
	
#michael-photo-02
	{
	background: url(images/content/about/michael-02.png) no-repeat;
	}
	
#michael-photo-03
	{
	background: url(images/content/about/michael-03.png) no-repeat;
	}
	
#michael-photo-04
	{
	background: url(images/content/about/michael-04.png) no-repeat;
	}
	
#michael-photo-05
	{
	background: url(images/content/about/michael-05.png) no-repeat;
	}
	
#michael-photo-06
	{
	background: url(images/content/about/michael-06.png) no-repeat;
	}

#michael-photo-07
	{
	background: url(images/content/about/michael-07.png) no-repeat;
	}

#michael-photo-08
	{
	background: url(images/content/about/michael-08.png) no-repeat;
	}

#michael-photo-09
	{
	background: url(images/content/about/michael-09.png) no-repeat;
	}

#michael-photo-10
	{
	background: url(images/content/about/michael-10.png) no-repeat;
	}

#michael-photo-11
	{
	background: url(images/content/about/michael-11.png) no-repeat;
	}
	
#michael-photo-12
	{
	background: url(images/content/about/michael-12.png) no-repeat;
	}
	
#michael-photo-13
	{
	background: url(images/content/about/michael-13.png) no-repeat;
	}

#michael-photo-14
	{
	background: url(images/content/about/michael-14.png) no-repeat;
	}

#michael-photo-15
	{
	background: url(images/content/about/michael-15.png) no-repeat;
	}

#michael-photo-16
	{
	background: url(images/content/about/michael-16.png) no-repeat;
	}

#michael-photo-17
	{
	background: url(images/content/about/michael-17.png) no-repeat;
	}

#michael-photo-18
	{
	background: url(images/content/about/michael-18.png) no-repeat;
	}
	
#michael-photo-19
	{
	background: url(images/content/about/michael-19.png) no-repeat;
	}
	
#michael-photo-20
	{
	background: url(images/content/about/michael-20.png) no-repeat;
	}
	
#michael-photo-21
	{
	background: url(images/content/about/michael-21.png) no-repeat;
	}






